*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

html{
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}


:root{
    --main-color: #9792E4;
}
/* HEADER*/ 


header{
    background-color: #0084fd; 
    position: fixed;
    z-index: 999;
    width: 100%;
}

#header-r figure{
    width: 2rem;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.header-flex figure img{
    width: 100%;
}

#header-r nav{
    display: none;
}

#header-r ul{
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    text-transform: capitalize;
}

#header-r ul li a{
    color: white;
}

#header-r ul li a:hover{
    background-color: white;
    padding: 0.5rem;
    color: black;
    border-radius: 50rem;
    align-items: center;
}

/* MAIN*/

/* Section App uses*/

#app-uses{
    padding-top: 5rem;
    padding-bottom: 4rem;
}

#uses-body{
    display: flex;
    flex-direction: column;
}

.uses-background{
    background-color: #B5DDFF;
}

.uses-demo,
.card-style{
    padding-inline: 2rem;
    padding-top: 2rem;
    border-radius: 1rem;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#uses-row-one,
#uses-row-two{
    margin-inline: 2rem;
    gap: 1.5rem;
}

.uses-demo a{
    display: flex;
    gap: 1rem;
    color: white;
    background-color: #0084fd;
    padding-block: 0.8rem;
    padding-inline: 2rem;
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.uses-demo #not-desktop-image > figure{
    width: 100%;  
}

.uses-demo #not-desktop-image > figure img{
    width: 100%;
}

.uses-demo h2,
.card-style h2{
    font-size: 1.4rem;
    color: #0084fd;
}

.uses-demo p,
.card-style p{
    font-size: 0.9rem;
    color: #5a6e7f;
    font-weight: bold;
    line-height: 160%;
}

.card-style{
    padding-bottom: 2rem;
    align-items: center;
}

.card-style p{
    text-align: center;
}

.card-style figure img{
    width: 100%;
}

.not-margin-top{
    margin-top: 0;
}

#demo-r{
    display: none;
}


/* Sezione 2*/

.planning{
    background-color: var(--main-color);
    margin-bottom: 4rem;
}

.planning-body{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-top: 2rem;
    align-items: center;
    padding-bottom: 4rem;
}

.planning-l{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: white;
    padding-bottom: 3rem;
}

.planning-l h2{
   font-size: 2rem;
   align-self: flex-start;
}

.planning-l p{
    line-height: 160%;
 }

.planning-l figure img{
    width: 100%;  
}

.planning-l figure{
    width: 100%;  
    padding-bottom: 2rem;
}

.planning-r-container figure{
    width: 100%;
}

.planning-r-container figure img{
    width: 100%;
}

.planning-r-container{
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.planning-r-container p{
   line-height: 160%;
   text-align: center;
   font-style: italic;
   font-size: 1.1rem;
}

.planning-r-container a{
    background-color: var(--main-color);
    border-radius: 50%;
    padding-inline: 1rem;
    padding-block: 0.875rem; 
}



/* Sezione 3*/ 

.testimonials-body{
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    gap: 2rem;
    align-items: center;
}

.testimonials-body h4{
    font-weight: 200;
}

.testimonials-body h2{
    color: var(--main-color);
    font-size: 2.2rem;
    text-align: center;
}

.testimonials-body > p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 150%;
}

.testimonial-card figure img{
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    padding: 2rem;
}

.testimonial-card .quote,
.testimonial-card .name{
    color: white;
}

.testimonial-card .name{
    font-weight: bold;
}

.quote{
    quotes: "“" "”";
}

.quote p{
    display: inline;
    line-height: 170%;
}

.quote q::before{
    content: open-quote;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.1em;
    vertical-align: -0.2em;
}

.quote q::after{
    content: close-quote;
    font-size: 3rem;
    font-weight: bold;
    line-height: 0.1em;
    vertical-align: -0.3em;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info .name{
    padding-top: 2rem;
}





































@media screen and (min-width: 810px){
    
    #uses-row-one{
        display: flex;
    } 

    #uses-row-two{
        display: flex;
        justify-content: space-between;
    }

    .demo-body{
        flex-basis: calc(((100% / 3) * 2) + 1.5rem )
    }

    .card-style{
        flex-basis: calc((100% / 3) * 1);
    }

    .clean-code{
        flex-basis: calc((100% / 3) * 1)
    }

    .uses-demo #not-desktop-image > figure{
        width: 45%;
    }

    .card-style figure{
        width: 50%;
    }

    .testimonial-card{
        flex-direction: row;
    }

    .card-info .name{
        align-self: flex-start;
    }


}














@media screen and (min-width: 1920px){
    #header-r figure{
        display: none;
    }

    #header-r nav{
        display: inline-block;
    }

    .container{
        width: 70%;
        margin: 0 auto;
    }

    #not-desktop-image{
        display: none;
    }

    #demo-r{
        display: inline-block;
    }

    .demo-body{
        display: flex;
        background-color: #b5ddff;
        border-radius: 1rem;
        margin-bottom: 2rem;
        flex-basis: 67.5%;
    }

    #demo-r figure{
        width: 65%;
        position: relative;
        top: 4.2rem;
    }

    #demo-r figure img{
        width: 100%;
    }
    
    #uses-row-one{
        gap: 3rem;
    }

    .clean-code{
        margin-top: 0;
        flex-basis: 32.5%;
    }

    #app-uses{
        padding-top: 8rem;
    }

    .card-style figure{
        width: 30%;
    }

    .uses-background{
        border-radius: 1rem;
    }

    #uses-row-one{
        gap: 2rem;
    }

    #uses-row-two{
        gap: 2rem;
    }

    .demo-l p {
        font-size: 1.1rem;
    }

    .demo-l {
       flex-basis: 90%;
    }

    .uses-demo{
        padding-top: 0.5rem;
    }

    .planning-body{
        flex-direction: row;
        align-items: end;
        gap: 5rem;
        justify-content: center;
        padding-top: 6rem;
    }
    
    .planning-l figure{
        width: 100%;  
        padding-bottom: 2rem;
    }

    .planning-r-container figure{
        width: 60%;
    }

    .planning-l{
        align-items: flex-start;
        flex-basis: 30%;
        padding-bottom: 0;
    }

    .planning-r-container{
        width: 30%;
        padding-block: 4rem;
    }

    .testimonials-body{
        width: 70%;
        margin: 0 auto;
    }
}